.bg-image {
  background-image: url("../../Images/BG.png");
  width: 100vw;
  height: 85vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
}
.circle-white {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-red {
  margin-left: 5px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid red;
}
.about-img {
  border: 1px solid transparent;
  border-radius: 10px;
}
