.bg {
  --bs-bg-opacity: 1;
  background-color: #474747;
}
.footer li img {
  width: 100%;
  max-width: 300px; /* Adjust the max-width as needed */
  height: auto;
  border: 1px solid transparent;
  border-radius: 15px;
}

/* .footer .d-flex {
  flex-wrap: wrap;
} */

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style: none;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .footer li img {
    max-width: 75px; /* Adjust the max-width for smaller screens */
  }
}
.list-unstyled {
  color: var(--second-color);
  font-size: smaller;
}
.second-color {
  color: var(--second-color);
}
